doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet', type='text/css', href='/css/normalize.css')
        link(rel='stylesheet', type='text/css', href='/css/main.css')
        title=title
    body
        header(class="head-container")
            div(class="logo")
                h3(class="brand") Nip 
            ul(class="nav") 
                li(class="nav-links") 
                    a(href="#services") Services 
                li(class="nav-links") 
                    a(href="#about") About
        main
            div(class="intro-container")
                h1(class="intro") Short links, big result and more...
                p(class="intro-support") A URL shortener and expander built to scale and protect you.
       
            div(class="shorten-container")
                form#shorten(action="")
                    input#user-link(type="text" placeholder=("Shorten your link") name=("user-link")) 
                    input#branding(type="text" placeholder=("custom branding") name=("branding")) 
                    button#shorten-btn(type="submit") Shorten
                //-Dynamic content                           
                //- div(class="shorten-url") 
                //-     span(class="user-provided") 
                //-         a#user-provided-link
                //-     div(class="generated")
                //-         a#generated-link()
                //-         span(class="tooltip")                        
                //-             button(class="shorten-copy-btn") Copy
                //-                 span#myTooltip(class="tooltiptext shorttip") Copy to clipboard
            div(class="outro-container")
                h2(class="question") Did you know?
                p(class="explainer") You can find the full form of a url before clicking? Use the expand option below.
            div(class="expand-container")
                form#expand(action="")
                    input#expand-input(type="text" placeholder=("Expand your link")) 
                    button#expand-btn(type="submit") Expand
                //-Dynamic content
                //- div(class="expand-url")
                //-     span(class="user-provided")
                //-         a#user-provided-url
                //-     div(class="generated")
                //-         a#expanded-link()
                //-         span(class="tooltip")
                //-             button(class="expand-copy-btn") Copy
                //-                 span#myTooltip(class="tooltiptext expandtip") Copy to clipboard
            div(class="service-about")
                div#services(class="services")
                    h2 Services 
                    ul
                        li URL shortening.
                        li URL shortening with branding.
                        li URL expanding.
                        li URL analytics (coming soon).
                div#about(class="about")
                    h2 About
                    p Nip is a platform that provides URL shortening service for your brand or for you, we also expand shortened URL in case you might want to check the legitimacy of a short link you are provided with.   

        footer
            p(class="copyright")  © Nip #{new Date().getFullYear()}
    
        script(src="/js/bundle.js") 
            