doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- link(rel='stylesheet', type='text/css', href='/css/normalize.css')
        link(rel="stylesheet", href="/css/notFound.css")
        title=title
    body
        div(class="title")
            strong 404 Not Found 
        div(class="container")
            div(class="image_container")
                img(src="assests/scarecrow.png" type="image/png" alt=" An image of a scarecrow"  class="scarecrow" )
            div(class="text-container")
                h2(class="heading-info") I have bad news for you
                p(class="info") The page you are looking for might be removed or is temporarily unavailable
                a(href="/")
                    button(class="button") Back to Homepage
       
