@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* General settings */
:root {
  --theme: #fff;
  --hover: #ddd;
  --primary: #007bff;
  --secondary: #eee;
  --text: #342834;
  --button: #016064;
  --button-hover: #48aaad;
  --copy-hover: #504250;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}
body {
  max-width: 1400px;
  min-height: calc(100% -50vh);
  background: var(--theme);
  margin: 1rem;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: var(--text);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */
.head-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  background: var(--theme);
  z-index: 9999999;
  height: 5rem;
  left: 0;
  right: 0;
}

.logo {
  cursor: pointer;
}

.brand {
  font-size: 2rem;
}

.nav {
  display: flex;
  align-items: center;
  width: 30%;
}

.nav-links {
  list-style: none;
  padding: 1rem;
}

.nav-links a {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text);
}

.nav-links a:hover {
  background: var(--hover);
}

/* Intro section  */
.intro-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
}

.intro {
  font-size: 3.5rem;
  font-weight: 700;
}

.intro-support {
  font-size: 2rem;
  font-weight: 400;
  width: 50%;
  margin: auto;
  word-wrap: break-word;
  margin-bottom: 2rem;
}

/* URL shortening element */
.shorten-container {
  background: var(--primary);
  height: auto;
  padding: 2rem;
  margin: 0 2rem;
}
#shorten {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#user-link {
  width: 80%;
}

/* expand */
.expand-container {
  background: grey;
  height: auto;
  padding: 2rem;
  margin: 0 2rem;
}
#expand {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#expand input {
  width: 80%;
}

#user-link,
#expand input {
  height: 3rem;
  border-radius: 0.5rem;
  margin-right: 4rem;
  text-align: center;
  border: none;
  font-size: 1.2rem;
}

#expand-btn,
#shorten-btn {
  font-size: 1.3rem;
  width: 20%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  color: var(--theme);
}

#expand-btn {
  background: var(--text);
}
#shorten-btn {
  background: var(--button);
}

#shorten-btn:hover {
  cursor: pointer;
  background: var(--button-hover) !important;
}
#expand-btn:hover {
  cursor: pointer;
  background: var(--copy-hover) !important;
}

/* Dynamic url */
.shorten-url,
.expand-url {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--theme);
  /* text-align: center;  */
  margin: 2rem 0;
  height: auto;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}

/* Link provided by the user */
span.user-provided {
  width: 10%;
}

.user-provided a {
  color: var(--text);
}

/* Link generated */
.generated {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

/* Generate button  */
.generated button {
  color: var(--theme);
  background: var(--text);
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.generated button:hover {
  background: var(--copy-hover);
}
/*  Container for further action */
.outro-container {
  margin: 3rem 0;
  text-align: center;
}

/* question, did you know? */
.question {
  margin: 2rem 0;
  font-size: 4rem;
}

/* Explaining paragraph */
.explainer {
  word-wrap: break-word;
  padding: 0 8rem;
  font-size: 2rem;
}

/* Service and About section */

.service-about {
  display: flex;
  align-items: center;
  margin: 0 2rem;
  margin-top: 3rem;
  justify-content: space-around;
}

.about {
  width: 50%;
  text-align: center;
}
.services {
  width: 50%;
  text-align: justify;
}

.services h2 {
  padding: 3rem;
  font-size: 3rem;
}

.about h2 {
  text-align: center;
  padding: 3rem;
  font-size: 3rem;
}
.services ul li {
  font-size: 1.4rem;
  padding: 0.5rem;
}
.about p {
  font-size: 1.4rem;
  word-wrap: break-word;
}

/* Footer section */

footer {
  margin-top: 2rem;
  text-align: center;
  height: 50px;
}

/* Copyright */

.copyright {
  font-size: 1.4rem;
}

#branding {
  width: 20%;
  height: 3rem;
  border-radius: 0.5rem;
  margin-right: 2rem;
  text-align: center;
  border: none;
  font-size: 1rem;
}

/* Tooltip */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: var(--hover);
  color: var(--text);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Alert  */

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 99999999999999999999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  /* text-align: center; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 8rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

/* Media Query */
/* Tablet */

@media screen and (max-width: 768px) {
  .nav {
    width: 50%;
  }
  .intro {
    font-size: 2.5rem;
  }
  .intro-support {
    font-size: 1.5rem;
  }

  #shorten {
    flex-direction: column;
    align-items: center;
  }
  #user-link,
  #expand input {
    margin-right: 0rem;
    text-align: center;
    border: none;
    font-size: 1.2rem;
    margin: 1rem 0;
    width: 100%;
  }
  #user-link {
    width: 100%;
  }

  #branding {
    width: 100%;
    font-size: 1.2rem;
    margin-right: 0rem;
    margin: 1rem 0;
  }
  #expand-btn,
  #shorten-btn {
    font-size: 1.6rem;
    width: 100%;
    margin: 1rem 0;
  }

  #expand {
    flex-direction: column;
    align-items: center;
  }
  .question {
    font-size: 2.5rem;
  }
  explainer {
    padding: 0 4rem;
    font-size: 1.5rem;
  }

  .alert {
    font-size: 1.8rem;
    font-weight: 400;
    /* text-align: center; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 2rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  }
}

/* Large phone */
@media screen and (max-width: 425px) {
  .nav {
    width: 56%;
  }

  .nav-links a {
    font-size: 1.1rem;
  }
  .brand {
    font-size: 1.7rem;
  }
  .intro {
    font-size: 1.6rem;
  }
  .intro-support {
    font-size: 1rem;
    width: 70%;
  }
  .question {
    font-size: 2rem;
  }
  .explainer {
    padding: 0 6rem;
    font-size: 1.1rem;
  }
  .about h2 {
    padding: 1rem 0;
    font-size: 2rem;
  }
  .services h2 {
    padding: 1rem 0;
    font-size: 2rem;
  }
  .services ul li {
    font-size: 1rem;
    padding: 0.1rem;
  }
  .service-about {
    flex-direction: column;
  }
  .about {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about p {
    font-size: 1rem;
  }
  .services {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Dynamic url */
  .shorten-url,
  .expand-url {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  /* Link generated */
  .generated {
    width: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  /* Generate button  */
  .generated button {
    padding: 0.4rem;
  }

  /* Generated link */
  a#generated-link,
  a#expanded-link {
    padding: 1rem 0;
  }

  /* User provided link */
  span.user-provided {
    width: 100%;
  }

  /* alert */
  .alert {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    padding: 1.6rem 2rem;
  }
}

/* Medium */
@media screen and (max-width: 375px) {
  .logo {
    padding-left: 1rem;
  }
  .nav {
    width: 60%;
  }
  .nav-links a {
    font-size: 1rem;
  }
  .brand {
    font-size: 1.5rem;
  }
  .intro {
    font-size: 1.6rem;
    padding: 0 1.5rem;
  }
  .alert {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    padding: 1.6rem 2rem;
  }
}

@media screen  and (max-width: 320px){
  .nav {
    width: 70%;
}
}