@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* General settings */
:root {
  --theme: #fff;
  --hover: #ddd;
  --primary: #007bff;
  --secondary: #eee;
  --text: #342834;
  --button: #ee350f;
  --button-hover: #ff6116;
  --copy-hover: #504250;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}
body {
  /* max-width: 1400px; */
  min-height: calc(100% -50vh);
  background: var(--theme);
  margin-top: 1rem;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: var(--text);
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */
.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  position: sticky;
  top: 0;
  background: var(--theme);
}

.logo {
  cursor: pointer;
}

.brand {
  font-size: 2rem;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  padding: 1rem;
}

.nav-links a {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text);
}

.nav-links a:hover {
  background: var(--hover);
}

/* Intro section  */
.intro-container {
  text-align: center;
}

.intro {
  font-size: 3.5rem;
  font-weight: 700;
}

.intro-support {
  font-size: 2rem;
  font-weight: 400;
  width: 50%;
  margin: auto;
  word-wrap: break-word;
  margin-bottom: 2rem;
}

/* URL shortening element */
.shorten-container {
  background: var(--primary);
  height: auto;
  padding: 2rem;
  margin: 0 2rem;
}
#shorten {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#user-link {
  width: 80%;
}

/* expand */
.expand-container {
  background: grey;
  height: auto;
  padding: 2rem;
  margin: 0 2rem;
}
#expand {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#expand input {
  width: 80%;
}

#user-link,
#expand input {
  height: 3rem;
  border-radius: 0.5rem;
  margin-right: 4rem;
  text-align: center;
  border: none;
  font-size: 1.2rem;
}

#expand-btn,
#shorten-btn {
  font-size: 1.3rem;
  width: 20%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  background: var(--button);
  color: var(--theme);
}

#expand-btn:hover,
#shorten-btn:hover {
  cursor: pointer;
  background: var(--button-hover);
}

/* Dynamic url */
.shorten-url,
.expand-url {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--theme);
  /* text-align: center;  */
  margin: 2rem 0;
  height: auto;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}

/* Link provided by the user */
span.user-provided {
  width: 10%;
}

.user-provided a {
  color: var(--text);
}

/* Link generated */
.generated {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

/* Generate button  */
.generated button {
  color: var(--theme);
  background: var(--text);
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.generated button:hover {
  background: var(--copy-hover);
}
/*  Container for further action */
.outro-container {
  margin: 3rem 0;
  text-align: center;
}

/* question, did you know? */
.question {
  margin: 2rem 0;
  font-size: 4rem;
}

/* Explaining paragraph */
.explainer {
  word-wrap: break-word;
  padding: 0 4rem;
  font-size: 2rem;
}

/* Service and About section */

.service-about {
  display: flex;
  align-items: center;
  margin: 0 2rem;
  margin-top: 3rem;
  justify-content: space-around;
}

.about {
  width: 50%;
  text-align: center;
}
.services {
  width: 50%;
  text-align: justify;
}

.services h2 {
  padding: 3rem;
  font-size: 3rem;
}

.about h2 {
  text-align: center;
  padding: 3rem;
  font-size: 3rem;
}
.services ul li {
  font-size: 1.4rem;
  padding: 0.5rem;
}
.about p {
  font-size: 1.4rem;
  word-wrap: break-word;
}

/* Footer section */

footer {
  margin-top: 2rem;
  text-align: center;
  height: 50px;
}

/* Copyright */

.copyright {
  font-size: 1.4rem;
}

#branding {
  width: 20%;
  height: 3rem;
  border-radius: 0.5rem;
  margin-right: 2rem;
  text-align: center;
  border: none;
  font-size: 1rem;
}

/* Tooltip */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: var(--hover);
  color: var(--text);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Button loading && is active class */
#is-active {
  background: var(--copy-hover);
}
